@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  --gradient-dark: linear-gradient(to right top, rgb(116, 216, 255), rgb(85, 210, 255));
  --gradient-light: linear-gradient(to left bottom, rgb(200, 238, 255), rgb(128, 221, 255));
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
